In [2]:
import os, time, datetime, sys
import numpy as np
import pandas as pd
from collections import Counter
from functools import reduce
from dateutil.relativedelta import relativedelta
from sklearn.metrics import roc_curve, auc, f1_score, mean_squared_error
from sklearn.model_selection import train_test_split, KFold
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import MultiLabelBinarizer, OneHotEncoder
import matplotlib.pyplot as plt
import matplotlib
import random

In [3]:
# 读取数据
userinfo_train = pd.read_csv('./userinfo.csv')
bank_train = pd.read_csv('./bank.csv')
bill_train = pd.read_csv('./bill.csv')
overdue_train = pd.read_csv('./overdue.csv')

df_list = [userinfo_train, bank_train, bill_train, overdue_train]

In [4]:
userinfo_train.head(5)

                        new_user_id 性别  职业   教育程度 婚姻状态  户口类型
0  7259fe272934e0dc348092c37544a445  女  公职  本科及以上   未婚  集体户口
1  0c87f6b1f7e0350a35841ba34df9d26a  男  公职  本科及以上   离异  集体户口
2  74c53a62f15cc039864aefc41170f81b  男  公职     大专   离异  家庭户口
3  211f56f356fa6ecc6334bb73e52c7b16  男  企业     高中   离异  农业户口
4  07b0d9ac7924424894141b2fecfa0ee0  男  公职  本科及以上   已婚  集体户口

In [ ]:
bank_train.head(5)

In [ ]:
bill_train.head(5)

In [ ]:
overdue_train.head(5)

In [7]:
for df in df_list:
    print(np.any(df.isnull()))

AttributeError: 'DataFrame' object has no attribute 'name'